* {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-image: url(images/37179-people-wallpaper-stupid-people.jpg);
}
.left .image {
  width: 80%;
  height: 250px;
  margin-top: 20px;
}
.left .image img {
  display: block;
  margin: auto;
  max-width: 80%;
  min-width: 80%;
}

.container {
  display: flex;
  width: 1000px;
  border-radius: 25px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 24px rgb(19, 19, 19);
}
.container .left,
.container .right {
  flex: 0.5;
  padding: 2rem;
}
.left {
  color: aliceblue;
  background: linear-gradient(to left, #33ccff 0%, rgb(199, 62, 41) 100%);
}
.title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.subtitle {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.left .info {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  margin-top: 15px;
}
.info span {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-weight: 500;
  cursor: pointer;
}
.info span i {
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
  margin-right: 10px;
  border: 1px solid rgb(77, 196, 243);
}
.right.form {
  padding: top 10px;
}
.form .form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-field .icon {
  position: absolute;
  top: 17px;
  left: 1rem;
  font-size: 18px;
  color: rgb(226, 73, 73);
}
.form-field input,
.form-field textarea {
  padding: 1rem;
  font-size: 14px;
  font-weight: 500;
  padding-left: 40px;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(226, 73, 73);
  transition: border 0.2s ease;
}
.form-field textarea {
  min-height: 13rem;
}
.form-field input:focus,
.form-field input:active,
.form-field textarea:focus,
.form-field textarea:active {
  border: 2px solid rgb(199, 62, 41);
}
.form button {
  color: aliceblue;
  cursor: pointer;
  outline: none;
  background-color: rgb(226, 73, 73);
  font-size: 14px;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid rgb(149, 30, 30);
  font-weight: 500;
  width: 100%;
}
.form-field input::-webkit-outer-spin-button,
.form-field input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form button:hover {
  border: 1px solid rgb(37, 99, 128);
  background-color: #33ccff;
}
@media (max-width: 1200px) {
  .container {
    width: 650px;
  }
  .container .left {
    padding: 1.6rem;
    display: none;
  }
  .left .form {
    padding-top: 20px;
  }
  .title {
    font-size: 14px;
  }
  .subtitle {
    font-size: 14px;
  }
  .form-field input,
  .form-field textarea {
    padding: 10px;
    padding-left: 30px;
  }

  .form-field .icon {
    top: 14px;
    left: 14px;
    font-size: 14px;
  }
  .form-field textarea {
    min-height: 10rem;
  }
  .form button {
    padding: 10px;
  }
}
